# default
Host *
    ForwardX11 yes
    ForwardX11Trusted yes

    # prevent from disconnecting
    ServerAliveInterval 60
    ServerAliveCountMax 10

Host crc
    HostName crcfe01.crc.nd.edu
    User yliu27

Host crc2
    HostName crcfe02.crc.nd.edu
    User yliu27

Host crcib
    HostName crcfeib01.crc.nd.edu
    User yliu27

Host wangfe
    HostName wangfe.crc.nd.edu
    User yliu27

Host wmflabs
    HostName login.tools.wmflabs.org
    User stevenliuyi
