# improved cat
cat() {
    if command -v pygmentize > /dev/null; then
        pygmentize $1 > /dev/null 2>&1
        if [ $? -eq 0 ]; then
            pygmentize $1
        else
            command cat $1
        fi
    else
        command cat $1
    fi
}

ssh() {
    case $* in
        # Kerberized ssh for HPCMP
        *thunder*|*lightning*|*abutil*|*excalibur*|*wputil*|*gold*|*onyx*|*topaz*|*viutil*|*conrad*|*gordon*|*newton*|*stutil* ) command /usr/local/ossh/bin/ssh -F $DOTFILES/conf/ssh.config.hpcmp "$@" ;;
        # normal ssh
        * ) command /usr/bin/ssh "$@" ;;
    esac
}

scp() {
    case $* in
        # Kerberized ssh for HPCMP
        *thunder*|*lightning*|*abutil*|*excalibur*|*wputil*|*gold*|*onyx*|*topaz*|*viutil*|*conrad*|*gordon*|*newton*|*stutil* ) command /usr/local/ossh/bin/scp -F $DOTFILES/conf/ssh.config.hpcmp "$@" ;;
        # normal ssh
        * ) command /usr/bin/scp "$@" ;;
    esac
}
